.list {
  width:150px;
  text-align:center;
  border:1 px solid black;
  border-radius:10px;
  background-color:#0066cc;
  color:#ffffff;
  margin:5px;
  padding:5px;
  list-style-type: none;
  cursor: pointer;
}

.list2 {
  width:150px;
  text-align:center;
  border:1 px solid black;
  border-radius:10px;
  background-color:#ffcc33;
  color:#000000;
  margin:5px;
  padding:5px;
  list-style-type: none;
  cursor: pointer;
}

.list-header {
  cursor:pointer;
}

.inline-block {
  display: inline-block;
}

.new-activity {
  display:inline-block;
  width:100px;
  margin: 5px 0px;
}

.trash {
  width:100px;
  height:100px;
  text-align:center;
  background-color:#d0d0d0;
  background-size: contain;
  background-image:url('trashcan.png');
}
