.list {
  width:150px;
  text-align:center;
  border:1 px solid black;
  border-radius:10px;
  background-color:#0066cc;
  color:#ffffff;
  margin:5px;
  padding:5px;
  list-style-type: none;
  cursor: pointer;
}

.list2 {
  width:150px;
  text-align:center;
  border:1 px solid black;
  border-radius:10px;
  background-color:#ffcc33;
  color:#000000;
  margin:5px;
  padding:5px;
  list-style-type: none;
  cursor: pointer;
}

.list-header {
  cursor:pointer;
}

.inline-block {
  display: inline-block;
}
