.list {
  width:150px;
  text-align:center;
  border:1 px solid black;
  border-radius:10px;
  background-color:#c0c0c0;
  margin:5px;
  padding:5px;
  list-style-type: none;
  cursor: move;
}

.list2 {
  width:150px;
  text-align:center;
  border:1 px solid black;
  border-radius:10px;
  background-color:#a000a0;
  margin:5px;
  padding:5px;
  list-style-type: none;
  cursor: move;
}

