body {
  padding:15px;
}

.background-img {
    position: absolute;
    overflow: hidden;
    background-image: url('../images/bucket.png');
    background-size: cover;
    width:100%;
    height:100%;
    opacity:0.5;
}
/* You could use :after - it doesn't really matter */

.activities {
  text-align:center;
  border:1 px solid black;
  border-radius:10px;
  background-color:#c0c0c0;
  color:#000000;
  margin:10px;
  padding:8px;
  cursor: pointer;
}

.lists {
  text-align:center;
  border:1 px solid black;
  border-radius:10px;
  background-color:#c0c0c0;
  color:#000000;
  margin:10px 10px;
  padding:8px;
  cursor: pointer;
  box-shadow: 3px 3px 3px black;
}

.list-container {
  cursor:pointer;
  padding:5px;
  border-radius:10px;
  width:100%;
  background-color: #EFEECB;
}

.activity-container {
  cursor:pointer;
  padding:5px;
  border-radius:10px;
  width:100%;
}

.new-activity {
  display:inline-block;
  width:100px;
  margin: 5px 0px;
  border-radius:10px;
}

.title-column {
  display:inline-block;
  width:100px;
  margin: 5px 0px;
  border-radius:5px;
  border:1px solid black;
  padding:5px;
  margin-right:5px;
  background-color:#e0e0e0;
  box-shadow: 3px 3px 3px black;
}

.data-column {
  display:inline-block;
  width:300px;
  margin: 5px 0px;
  border:1px solid black;
  border-radius:5px;
  padding:5px;
  background-color:#e0e0e0;
  box-shadow: 3px 3px 3px black;
}

div .data-column:empty:before {
  content: "\00a0"; // this is a &nbsp; character
}


.trash {
  width:100px;
  height:100px;
  text-align:center;
  /*background-color:#d0d0d0;*/
  background-size: contain;
  background-image:url('../images/trashcan.png');
}

.bevel{
-webkit-animation-name: example; /* Chrome, Safari, Opera */
-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
animation-name: example;
animation-duration: 1s;
animation-iteration-count:0;
-moz-box-shadow: inset 4px 4px 4px rgba(255, 255, 255, .5), inset -4px -4px 4px rgba(0, 0, 0, .5);
-webkit-box-shadow: inset 4px 4px 6px rgba(255, 255, 255, .5), inset -4px -4px 2px rgba(0, 0, 0, .5);
box-shadow: inset 4px 4px 4px rgba(255, 255, 255, .5), inset -4px -4px 4px rgba(0, 0, 0, .5);
}

.myCSS3id{
border: 5px solid #111;
-moz-box-shadow: 35px 35px 7px #999999;
-moz-border-bottom-right-radius: 15px;
-moz-border-radius:25px;
padding: 15px 25px;
}

.frame{
border: 1px solid #4C3C1B;
border-radius:10px;
padding: 5px;
background-color: #EFEECB;
}

.template-frame{
border: 1px solid #4C3C1B;
border-radius:10px;
padding: 5px;
background-color: #EFEECB;
}

input {
  border-radius:5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.list-header {
  padding:5px;
  text-align:center;
  color:#d0d0d0;
  background-color:#2f2f2f;
  border-radius:5px;
}

.activity-header {
  padding:5px;
  text-align:center;
  color:#d0d0d0;
  background-color:#2f2f2f;
  border-radius:5px;
}

.centered {
  text-align:center;
}

.slider {
  width:200px;
  background-color:#f00000;
}






/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.typesDemo ul[dnd-list],
.typesDemo ul[dnd-list] > li {
  position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.typesDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.typesDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.typesDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.typesDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;

    /* Disable text selection if item is not draggable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * Gender-specifc background
 */
.typesDemo ul[dnd-list] li.background-man {
  background-color: #CAE0FC;
}

.typesDemo ul[dnd-list] li.background-woman {
  background-color: #FFE2F5;
}

.typesDemo ul[dnd-list] input.background-man {
  background-color: #D8E9FF;
  color: #2F4D99;
}

.typesDemo ul[dnd-list] input.background-woman {
  background-color: #FFF0FA;
  color: #D84FA7;
}

/**
 * Handle positioning
 */
.typesDemo .handle {
    cursor: move;
    position: absolute;
    top: 14px;
}

.typesDemo .name {
    margin-left: 20px;
}

.template-btn {
  box-shadow: 3px 3px 3px black;
}

.btn-wrapper {
  text-align: center;
}

.template-title {
  text-align: center;
}

.pointer-cursor {
  cursor: pointer;
}
