body {
  padding:15px;
}

/*.background-img {
    position: absolute;
    overflow: hidden;
    background-image: url('../images/bucket.jpg');
    background-size: cover;
    width:100%;
    height:100%;
    opacity:0.5;
}
*//* You could use :after - it doesn't really matter */

/* if the height of this ever changes, also change the height in cssSlideUp class */
.front-page {
  text-align:center;
  vertical-align:center;
  margin-bottom:20px;
}

.front-page img {
  border: 1px solid #000000;
  border-radius:10px;
}

.activities {
  text-align: center;
  border: 1 px solid #000000;
  border-radius: 10px;
  background-color: #c0c0c0;
  color: #000000;
  margin: 10px;
  padding: 10px;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.activities-logged-out {
  text-align:center;
  border:1 px solid black;
  border-radius:10px;
  background-color:#c0c0c0;
  color:#000000;
  margin:10px;
  padding:8px;
  width:15%;
  display: inline-block;
  vertical-align:top;
}

.activity-container {
  text-align:center;
}

.lists {
  text-align:center;
  border:1 px solid black;
  border-radius:10px;
  background-color:#c0c0c0;
  color:#000000;
  margin:10px 10px;
  padding:8px;
/*  cursor: pointer;
*/  box-shadow: 3px 3px 3px black;
}

.list-container {
  cursor:pointer;
  padding:5px;
  border-radius:10px;
  width:100%;
  background-color: #EFEECB;
}

.activity-container {
/*  cursor:pointer;
*/  padding:5px;
  border-radius:10px;
  width:100%;
}

.new-activity {
  display:inline-block;
  width:100px;
  margin: 5px 0px;
  border-radius:10px;
}

.title-column {
  display:inline-block;
  text-align: left;
  width:100px;
  margin: 5px 0px;
  border-radius:5px;
  border:1px solid black;
  padding:5px;
  margin-right:5px;
  background-color:#e0e0e0;
  box-shadow: 3px 3px 3px black;
}

.data-column {
  display:inline-block;
  text-align: left;
  width:300px;
  margin: 5px 0px;
  border:1px solid black;
  border-radius:5px;
  padding:5px;
  background-color:#e0e0e0;
  box-shadow: 3px 3px 3px black;
}

div .data-column:empty:before {
  content: "\00a0"; // this is a &nbsp; character
}


.bevel{
-webkit-animation-name: example; /* Chrome, Safari, Opera */
-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
animation-name: example;
animation-duration: 1s;
animation-iteration-count:0;
-moz-box-shadow: inset 4px 4px 4px rgba(255, 255, 255, .5), inset -4px -4px 4px rgba(0, 0, 0, .5);
-webkit-box-shadow: inset 4px 4px 6px rgba(255, 255, 255, .5), inset -4px -4px 2px rgba(0, 0, 0, .5);
box-shadow: inset 4px 4px 4px rgba(255, 255, 255, .5), inset -4px -4px 4px rgba(0, 0, 0, .5);
}

.myCSS3id{
border: 5px solid #111;
-moz-box-shadow: 35px 35px 7px #999999;
-moz-border-bottom-right-radius: 15px;
-moz-border-radius:25px;
padding: 15px 25px;
}

.frame{
border: 1px solid #4C3C1B;
border-radius:10px;
padding: 5px;
background-color: #EFEECB;
}

.template-frame{
border: 1px solid #4C3C1B;
border-radius:10px;
padding: 5px;
background-color: #EFEECB;
}

input {
  border-radius:5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.list-header {
  padding:5px;
  text-align:center;
  color:#d0d0d0;
  background-color:#2f2f2f;
  border-radius:5px;
}

.activity-header {
  padding:5px;
  text-align:center;
  color:#d0d0d0;
  background-color:#2f2f2f;
  border-radius:5px;
}

.centered {
  text-align:center;
}

.slider {
  width:200px;
  background-color:#f00000;
}

.my-btn {
  /*border: 1px solid #000000;*/
  cursor: pointer;
}





.template-btn {
  box-shadow: 3px 3px 3px black;
}

.btn-wrapper {
  text-align: center;
}

.template-title {
  text-align: center;
}

.pointer-cursor {
  cursor: pointer;
}

.angular-google-map-container {
  height: 225px;
  width: 300px;
}

.inline-block {
  display:inline-block;
  text-align: left;
}

.modal-style {
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #000000;
  margin:10px;
}

.map-container {
  vertical-align: top;
  border:1px solid #000000;
}

.modal-dialog {
  /*width:800px;*/
  text-align: center;
}

.modal-dialog-no-map {
  width:500px;
}

.activity-detail {
  max-width:450px;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssSlideUp {
    transition: .5s linear all;
    height:470px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;
}

.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}
