<div id="main" style="display:none">
  <form ng-submit="vm.activity.updateActivity()">
  <div class="new-activity">Title:</div><input type="text" ng-model="vm.activity.title"><br />
  <div class="new-activity">Description:</div><input type="text" ng-model="vm.activity.description"><br />
  <div class="new-activity">Location:</div><input type="text" ng-model="vm.activity.location"><br />
  <div class="new-activity">Cost:</div><input type="text" ng-model="vm.activity.cost"><br />
  <div class="new-activity">Duration:</div><input type="text" ng-model="vm.activity.duration"><br />
  <input type="submit">
  </form>
</div>

<script>
$(document).ready(function() {
  $('#main').slideDown(1000);
})
</script>
