<div id="main" ng-repeat="activity in vm.activity.activities | filter:vm.activity._id" class="modal-style">
  <div class="inline-block activity-detail">
    <h3>{{activity.title}}</h3>
    <div></div>
    <div class="title-column">Description:</div><div class="data-column">{{activity.description}}</div>
    <div></div>
    <div class="title-column">Location:</div><div class="data-column">{{activity.location}}</div>
    <div></div>
    <div class="title-column">Cost:</div><div class="data-column">{{activity.cost}}</div>
    <div></div>
    <div class="title-column">Duration:</div><div class="data-column">{{activity.duration}}</div>
    <div></div>
    <br />
  </div>
  <div class="inline-block">&nbsp;&nbsp;</div>
  <div class="inline-block map-container" ng-controller="MapController as vm">
    <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" options="vm.options" class="angular-google-map-container" ng-hide="vm.map.marker.id === '0'">
        <ui-gmap-marker coords="vm.map.marker.coords" idkey="vm.map.marker.id" options="vm.map.marker.options"></ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
  <div class="btn-wrapper">
    <span class="glyphicon glyphicon-thumbs-up pointer-cursor" aria-hidden="true" data-value="1" ng-click="activity.rating=activity.rating+1; vm.activity.vote(activity,1)" id="upvote" ng-show='vm.isLoggedIn()'></span>
    &nbsp;&nbsp;<span class="like" id="rating" ng-model="activity.rating">Rating: {{activity.rating}}</span>&nbsp;&nbsp;
    <span class="glyphicon glyphicon-thumbs-down pointer-cursor" aria-hidden="true" data-value="-1" ng-click="activity.rating=activity.rating-1; vm.activity.vote(activity,-1)" id="downvote" ng-show='vm.isLoggedIn()'></span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" value="Close" ng-click="vm.cancel()" class="template-btn">
  </div>
  <br />
</div>
