<div id="main" style="display:none">
<h3 class="template-title">Signup</h3>
<form ng-submit="vm.signup()">
<div class="title-column">Name</div><input type="text" ng-model="vm.user.signupName" class="data-column"><br />
<div class="title-column">Email</div><input type="text" ng-model="vm.user.signupEmail" class="data-column"><br />
<div class="title-column">Password</div><input type="password" ng-model="vm.user.signupPassword" class="data-column"><br /><br />
<div class="btn-wrapper">
<!-- <input type="submit" value="Signup" class="template-btn">&nbsp;<input type="button" value="Cancel" ng-click="vm.cancel()" class="template-btn">
 -->
 <input type="button" ng-click="vm.signup()" value="Signup" class="template-btn">&nbsp;<input type="button" value="Cancel" ng-click="vm.cancel()" class="template-btn">
</div>
<br />
</form>
</div>

<script>
$(document).ready(function() {
    $('#main').fadeIn(800);
});
</script>
