test.html

<ul dnd-list="list1.people"
    dnd-allowed-types="list1.allowedTypes"
    dnd-disable-if="list1.people.length >= list1.max">

    <li ng-repeat="person in list1.people"
        dnd-draggable="person"
        dnd-type="person.type"
        dnd-disable-if="person.type == 'unknown'"
        dnd-moved="list1.people.splice($index, 1)"
        dnd-effect-allowed="move"
        class="background-{{person.type}}"
        >
        <div class="handle">:::</div>
        <div class="name" dnd-nodrag>
            <input type="text" ng-model="person.name" class="background-{{person.type}} form-control input-sm">
        </div>
    </li>

    <li class="dndPlaceholder">
        Drop any <strong>{{list1.allowedTypes.join(' or ')}}</strong> here
    </li>

</ul>
